__pycache__/
*.pyc
.ipynb_checkpoints/
.env
venv/
yoloenv/
*.tmp

# large data and outputs
results/
runs/
yolov8n.pt

# ignore dataset except processed
dataset/*
!dataset/processed/
!dataset/processed/**
